<h1>Jobs index</h1>

<div>
<% @jobs.each do |job| %>
<div>
<h3><%= job.name %></h3>
<ul>
<li><% user.name %></li>
<li>Category: <%= job.category %></li>
<li>job.city</li>
<li>Publication date : 8 febuary 2020</li>
</ul>
<div>
<% end %>
</div>
