<h1>Jobs index</h1>

<div>
<% @jobs.each do |job| %>
<div>
<h3><%= job.name %></h3>
<ul>
<li>user.logo</li>
<li>user.name</li>
<li>job.category: <%= job.category %></li>
<li>user.city</li>
<li>job.description</li>
<li>Publication date : 8 febuary 2020</li>
</ul>
<div>
<% end %>
</div>
