<div class="card_search_container">
      <div class="logo">
        <img src="./images/BNC_logo.png" alt="" width="106" >
      </div>
      <div class="card_infos">
        <p class="job_name result">Web developper</p>
        <p class="business_name result">Banque Nationale du Canada</p>
        <p class="date">8 février 2020</p>
        <p class="text-s"><img src="./images/map-marker-alt.svg" alt="Map pin"> Montréal</p>
      </div>
      <div class="cta">
      <a href="#"><div class="bt-m">View details</div></a>
      </div>
  </div>
</div>
