</div>
<div class="illustration_container">
<div class="illustration">
  <div class="hero_text">
    <h1>Find your dream internship close to your area.</h1>
    <h3>Recruters, post an internship for free.</h3>
  </div>
</div>
</div>

<div class="search_bar_home">
    <%= form_tag jobs_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],class: "form_field search",
    placeholder: "Find an internship near you!"
  %>
  <%= submit_tag "Search", class: "button" %>
  <% end %>
</div>

