</div>
<div class="illustration_container">
<div class="illustration">
  <div class="hero_text">
    <h1>Find your dream internship close to your area.</h1>
    <h3>Recruters, post an internship for free.</h3>
  </div>
</div>
</div>
<%= render 'shared/search_bar' %>
